/* frame */
body {
    margin: 0;
}

body::-webkit-scrollbar {
    width: 0;
}

a {
    text-decoration: none;
    color: black;
}

/* nav */
nav {
    top: 0;
    position: sticky;

    background: none;

    display: flex;

    width: 100vw;
    height: 10vh;
    min-height: 50px;

    background-color: black;
    box-shadow: 0 0px 10px 10px black;
}

#name {
    color: white;
    width: 50%;

    font-size: 1.5em;
    text-align: center;
}

#navigation {
    width: 50%;
    display: flex;
}

.nav-button {
    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;

    width: 25%;
    height: 100%;
}

.nav-button a {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 24px;

    border-radius: 100px;

    width: 50%;

    height: 5vh;
}

.nav-button a img {
    height: 75%;
}

.light {
    border-right: 5px dotted black;
    border-left: 5px dotted black;

    background-color: white;
    box-shadow: 0 0px 10px 5px white;

    color: black;
}

.dark {
    border-right: 5px dotted white;
    border-left: 5px dotted white;

    background-color: black;
    box-shadow: 0 0px 10px 10px black;

    color: white;
}

/* content */
#impression {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#description {
    width: 100%;
    text-align: center;

    font-size: 30px;
}

.body-container {
    width: 100vw;
    height: 50vh;
}

.body-container:nth-child(odd) {
    background-color: black;
}

.body-container:nth-child(even) {
    background-color: white;
    box-shadow: 0 0px 10px 10px black inset;
}

@media screen and (max-width: 900px) {
    #logo {
        width: 25%;
    }

    #navigation {
        width: 75%;
    }

    .nav-button a img {
        width: 25px;
    }
}
